/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* Global variables */
:root {
  --color-100: hsl(0, 0%, 100%);
  --color-200: hsl(210, 46%, 95%);
  --color-300: hsl(212, 23%, 69%);
  --color-500: hsl(214, 17%, 51%);
  --color-700: hsl(217, 19%, 35%);

  --color-shadow: rgba(201, 213, 225, 0.5);

  --font-family-default: "Manrope", sans-serif;
  --font-weight-reg: 500;
  --font-weight-bold: 700;
}

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
ion-icon {
  display: block;
  max-width: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Utility classes */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Global styles */

body {
  display: grid;
  place-content: center;
  padding-inline: 1.5rem;

  min-height: 100vh;
  min-width: 375px;

  font-family: var(--font-family-default);
  font-weight: var(--font-weight-reg);
  font-size: 0.8125rem;
  line-height: 1.54;
  letter-spacing: 0.122px;

  color: var(--color-500);
  background-color: var(--color-200);
}

h1,
h2,
h3 {
  line-height: 1.5;
  letter-spacing: 0.2px;
  font-weight: var(--font-weight-bold);
  color: var(--color-700);
}

/* Card styles */

.card {
  background-color: var(--color-100);
  border-radius: 10px;
  box-shadow: 0px 40px 40px -10px var(--color-shadow);
  overflow: hidden;
}

.card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.card__wrapper {
  padding-inline: 2rem;
}

.card__title {
  margin-top: 2.25rem;
  font-size: 1rem;
}

.card__text {
  margin: 0.75rem 0 1rem;
}

.card__author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card__author__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.card__author__name {
  font-size: 0.81255rem;
  line-height: 1.54;
  letter-spacing: 0.122px;
}
.card__footer {
  padding-top: 1rem;
  padding-bottom: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button.card__share {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--color-200);
}

button.card__share ion-icon {
  font-size: 1.125rem;
  color: var(--color-500);
}

@media screen and (min-width: 650px) {
  .card {
    display: flex;
    max-width: 730px;
  }

  .card__img {
    width: 285px;
    height: auto;
  }

  .card__wrapper {
    padding-inline: 2.5rem;
  }

  .card__title {
    margin-top: 2rem;
    font-size: 1.25rem;
    line-height: 1.4;
    letter-spacing: 0.25px;
  }

  .card__footer {
    padding-top: 0.25rem;
    padding-bottom: 2rem;
  }
}
